<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.study.heat.dao.PaymentMapper" >
  <resultMap id="BaseResultMap" type="org.study.heat.pojo.Payment" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="payment_no" property="paymentNo" jdbcType="VARCHAR" />
    <result column="payment_year" property="paymentYear" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="acreage" property="acreage" jdbcType="REAL" />
    <result column="coupon_id" property="couponId" jdbcType="BIGINT" />
    <result column="discount" property="discount" jdbcType="REAL" />
    <result column="actFee" property="actfee" jdbcType="DECIMAL" />
    <result column="redFee" property="redfee" jdbcType="DECIMAL" />
    <result column="fee" property="fee" jdbcType="DECIMAL" />
    <result column="is_pay" property="isPay" jdbcType="INTEGER" />
    <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
    <result column="pay_type" property="payType" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="creator_id" property="creatorId" jdbcType="BIGINT" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="last_operator" property="lastOperator" jdbcType="VARCHAR" />
    <result column="last_operator_id" property="lastOperatorId" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <resultMap id="PaymentResultMap" type="org.study.heat.vo.PaymentVo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="payment_no" property="paymentNo" jdbcType="VARCHAR" />
    <result column="payment_year" property="paymentYear" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="acreage" property="acreage" jdbcType="REAL" />
    <result column="coupon_id" property="couponId" jdbcType="BIGINT" />
    <result column="discount" property="discount" jdbcType="REAL" />
    <result column="actFee" property="actfee" jdbcType="DECIMAL" />
    <result column="redFee" property="redfee" jdbcType="DECIMAL" />
    <result column="fee" property="fee" jdbcType="DECIMAL" />
    <result column="is_pay" property="isPay" jdbcType="INTEGER" />
    <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
    <result column="pay_type" property="payType" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="creator_id" property="creatorId" jdbcType="BIGINT" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="last_operator" property="lastOperator" jdbcType="VARCHAR" />
    <result column="last_operator_id" property="lastOperatorId" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <collection property="paymentDetailList" ofType="org.study.heat.vo.PaymentDetailVo">
        <!-- id:唯一标识
             property：要将订单明细的唯一标识映射到com.mybatis.entity.OrderDetail的那个属性
         -->
        <id column="payment_no" property="paymentNo"/>
        <result column="room_id" property="roomId" jdbcType="BIGINT" />
	    <result column="room_name" property="roomName" jdbcType="VARCHAR" />
	    <result column="room_type" property="roomType" jdbcType="DECIMAL" />
	    <result column="price" property="price" jdbcType="DECIMAL" />
	    <result column="acreage" property="acreage" jdbcType="REAL" />
	    <result column="detailFee" property="fee" jdbcType="DECIMAL" />
    </collection>
  </resultMap>
  
  <select id="queryPaymentListWithPage" resultMap="PaymentResultMap">
  	select 
  		payment.*,
  		user.user_name,
  		payment_detail.room_id,
  		payment_detail.room_name,
  		payment_detail.room_type,
  		payment_detail.price,
  		payment_detail.acreage,
  		payment_detail.fee as detailFee
  	from t_payment payment
  	left join t_payment_detail payment_detail on payment.payment_no = payment_detail.payment_no
  	left join t_user user on payment.user_id = user.id
  	where 
  		1 = 1
  		<if test="paymentNo != null and paymentNo != ''">
  			and payment.payment_no LIKE concat('%', #{paymentNo}, '%')
  		</if>
  		<if test="userId != null">
  			and payment.user_id = #{userId}
  		</if>
  		<if test="userName != null and userName != ''">
  			and user.user_name LIKE concat('%', #{userName}, '%')
  		</if>
  		<if test="paymentYear != null and paymentYear != ''">
  			and payment.payment_year LIKE concat('%', #{paymentYear}, '%')
  		</if>
  		<if test="isPay != null and isPay != ''">
  			and payment.is_pay = #{isPay}
  		</if>
  	order by
  		payment.created_time desc
  </select>
  
  <select id="queryPaymentTotal" resultType="org.study.heat.vo.PaymentTotal">
  	SELECT
		COUNT(user_id) AS userCount,
		SUM(actFee) AS feeCount,
		is_pay AS isPay
	FROM
		t_payment
	GROUP BY
		is_pay
  </select>
  
</mapper>
