<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.study.heat.dao.RoomMapper" >
  <resultMap id="BaseResultMap" type="org.study.heat.pojo.Room" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="room_no" property="roomNo" jdbcType="VARCHAR" />
    <result column="room_name" property="roomName" jdbcType="VARCHAR" />
    <result column="unit_no" property="unitNo" jdbcType="INTEGER" />
    <result column="floor_no" property="floorNo" jdbcType="INTEGER" />
    <result column="building_id" property="buildingId" jdbcType="BIGINT" />
    <result column="room_type" property="roomType" jdbcType="BIGINT" />
    <result column="house_type" property="houseType" jdbcType="VARCHAR" />
    <result column="acreage" property="acreage" jdbcType="REAL" />
    <result column="heat_type" property="heatType" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="creator_id" property="creatorId" jdbcType="BIGINT" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="last_operator" property="lastOperator" jdbcType="VARCHAR" />
    <result column="last_operator_id" property="lastOperatorId" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Base_Column_List">
    ${alias}.id,
    ${alias}.version,
    ${alias}.room_no as roomNo,
    ${alias}.room_name as roomName,
    ${alias}.unit_no as unitNo,
    ${alias}.floor_no as floorNo,
    ${alias}.building_id as buildingId,
    ${alias}.room_type as roomType,
    ${alias}.house_type as houseType,
    ${alias}.acreage,
    ${alias}.heat_type as heatType,
    ${alias}.user_id as userId,
    ${alias}.status,
    ${alias}.remark,
    ${alias}.creator,
    ${alias}.creator_id as creatorId,
    ${alias}.created_time as createdTime,
    ${alias}.last_operator as lastOperator,
    ${alias}.last_operator_id as lastOperatorId,
    ${alias}.update_time as updateTime
  </sql>
  
  <select id="queryRoomListWithPage" resultType="org.study.heat.vo.RoomVo">
  
  	SELECT
      <include refid="Base_Column_List">
        <property name="alias" value="room"/>
      </include>
      , site.site_name as siteName,
      area.area_name as areaName,
      building.building_name as buildingName,
      building.building_no as buildingName,
      room_typ.price as price,
      room_typ.room_type_name as roomTypeName
    FROM
      t_room room
      LEFT JOIN t_building building on room.building_id = building.id
      left join t_area area on building.area_id = area.id
      LEFT JOIN t_site site ON area.site_id = site.id
      LEFT JOIN t_room_type room_typ ON room.room_type = room_typ.id
    WHERE
      1 = 1
      <if test="id != null">
      	and room.id = #{id}
      </if>
      <if test="siteName != null and siteName != ''">
        and site.site_name LIKE concat('%', #{siteName}, '%')
      </if>
      <if test="areaName != null and areaName != ''">
        and area.area_name LIKE concat('%', #{areaName}, '%')
      </if>
      <if test="buildingName != null and buildingName != ''">
      	and building.building_name LIKE concat('%', #{buildingName}, '%')
      </if>
      <if test="roomName != null and roomName != ''">
      	and room.room_name LIKE concat('%', #{roomName}, '%')
      </if>
      <if test="userId != null">
      	and room.user_id = #{userId}
      </if>
      ORDER BY
        room.created_time DESC
  </select>
  
  <select id="queryNotCheckInRoomList" resultType="org.study.heat.vo.RoomVo">
  	SELECT
  	  <include refid="Base_Column_List">
        <property name="alias" value="room"/>
      </include>
      , site.site_name as siteName,
      area.area_name as areaName,
      building.building_name as buildingName,
      building.building_no as buildingName
    FROM
      t_room room
      LEFT JOIN t_building building on room.building_id = building.id
      left join t_area area on building.area_id = area.id
      LEFT JOIN t_site site ON area.site_id = site.id
    WHERE
      room.user_id is null
  </select>
  
</mapper>