<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.study.heat.dao.SiteMapper" >
  <resultMap id="BaseResultMap" type="org.study.heat.pojo.Site" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="site_name" property="siteName" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="creator_id" property="creatorId" jdbcType="BIGINT" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="last_operator" property="lastOperator" jdbcType="VARCHAR" />
    <result column="last_operator_id" property="lastOperatorId" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Base_Column_List">
    ${alias}.id,
    ${alias}.version,
    ${alias}.site_name as siteName,
    ${alias}.status,
    ${alias}.remark,
    ${alias}.creator,
    ${alias}.creator_id as creatorId,
    ${alias}.created_time as createdTime,
    ${alias}.last_operator as lastOperator,
    ${alias}.last_operator_id as lastOperatorId,
    ${alias}.update_time as updateTime
  </sql>
  
  <select id="querySiteListWithPage" resultType="org.study.heat.vo.SiteVo">
  	SELECT
      <include refid="Base_Column_List">
        <property name="alias" value="site"/>
      </include>
    FROM
      t_site site
    WHERE
      1 = 1
      <if test="siteName != null and siteName != ''">
        and site.site_name LIKE concat('%', #{siteName}, '%')
      </if>
      ORDER BY
        update_time DESC
  </select>
</mapper>